<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Prototype_Token_Interface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Prototype_Token_Interface.Properties.Settings>
            <setting name="HideMenu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HighContrast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VoicePrompting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnglishExcerpts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SuperAsExponent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseMathJax" serializeAs="String">
                <value>False</value>
            </setting>
        </Prototype_Token_Interface.Properties.Settings>
    </userSettings>
</configuration>